---
import desktopImg from "../art-gallery/assets/desktop/image-hero.jpg";
import arrow from "../art-gallery/assets/icons/icon-arrow-right.svg";
---

<main>
  <div id="main-div" class="container">
    <div id="hero">
      <section>
        <h1 class="heading-xl">Modern Art Gallery</h1>
      </section>
      <div id="hero-cta">
        <p class="body-m grey-text spacing-m">
          The arts in the collection of the Modern Art Gallery all started from
          a spark of inspiration. Will these pieces inspire you? Visit us and
          find out.
        </p>
        <div>
          <button id="nav-btn">
            <a id='hero-nav' class="btn dark-section btn-icon" href="/art-gallery/location"> Our location <img src='https://ik.imagekit.io/a8p7pl7hs/gallery/icon-arrow-right_Fsj98Pokv.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1674148291991' class="icon accent-btn" alt="" /></a>
            <!-- <a class="icon accent-btn" href="/location">
              <img src={arrow} alt="" />
            </a> -->
          </button>
        </div>
      </div>
    </div>
  </div>
</main>

<style>
  main {
    background-image: url("https://ik.imagekit.io/a8p7pl7hs/gallery/desktop/image-hero_Ys6GIhlPF.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1674147654346"),
      linear-gradient(to right, black 50%, white 50%);
    height: 100vh;
    background-size: auto;
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
  }

  #main-div {
    display: flex;
    align-items: flex-end;
    height: 80%;
  }

  #hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto/);
    gap: 2em;
  }

  #hero-cta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: end;
    width: 100%;
  }

  /* phone */
  @media (max-width: 699px) {
    main {
      background-image: url("https://ik.imagekit.io/a8p7pl7hs/gallery/mobile/image-hero_U3rEROYFO.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1674148099956");
      background-position: center top;
    }
  }
  /* tablet */
  @media (min-width: 700px) and (max-width: 50em) {
    main {
      background-image: url("https://ik.imagekit.io/a8p7pl7hs/gallery/tablet/image-hero_5U0M-4271.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1674147958495");
      background-position: center left;
    }

    #main-div {
      align-items: center;
      justify-content: flex-end;
    }

    #hero {
      width: 50%;
    }
  }

  @media (min-width: 50em) {
    #main-div {
      align-items: center;
    }

    #hero-cta {
      width: 70%;
    }

    h1 {
      color: white;
      mix-blend-mode: exclusion;
      width: 85%;
      padding-left: 1.2em;
      /* padding: 0 1em 0 1em; */
    }

    p {
      margin-bottom: 2em;
    }

    #hero {
      /* display: grid; */
      grid-template-columns: repeat(2, 1fr);
     }
  }
</style>
