<main>
    <section class="container">
        <div>
            <button>
                <a id='location-nav' class="btn dark-section btn-icon" href="/art-gallery/"><img src='https://ik.imagekit.io/a8p7pl7hs/gallery/icon-arrow-left_e5gnlh7sc.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1674148292017' class="icon accent-btn" alt="" />back to home</a>
              </button>
        </div>
    </section>
</main>
<section class="dark-section padding-xxl">
    <div id='location-info' class="container">
        <div>
            <h2 class="heading-l spacing-m">Our Location</h2>
        </div>
        <div>
            <h3 class="heading-s accent-text spacing-m">99 king street</h3>
            <p class="spacing-m">
                Newport<br>
                RI 02840<br>
                United States of America<br>
            </p>
            <p>
                Our newly opened gallery is located near the Edward King House on 99 King 
  Street, the Modern Art Gallery is free to all visitors and open seven days 
  a week from 8am to 9pm.
            </p>
        </div>
    </div>
</section>

<style>
    main {
        background-image: url('https://ik.imagekit.io/a8p7pl7hs/gallery/mobile/image-map_vms3Em4dS.png?ik-sdk-version=javascript-1.4.3&updatedAt=1674148100357');
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
    }

    @media (max-width: 400px) {
        #location-nav {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    @media (min-width: 50em) {
        main {
            background-image: url('https://ik.imagekit.io/a8p7pl7hs/gallery/desktop/image-map_Hg06fegir.png?ik-sdk-version=javascript-1.4.3&updatedAt=1674147654584');
        }

        #location-info {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
</style>